body {
  font-family: Smythe, sans-serif;
  color: whitesmoke;
}

header {
  width: 600px;
  height: 167px;
  background: url(./assets/header-burger.png) no-repeat;
  background-size: cover;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

h1 {
  padding: 0 0 0 2rem;
  font-size: 2.4rem;
}

h2 {
  padding: 0.25rem 0 0 2rem;
  font-size: 1.4rem;
}

main {
  max-width: 600px;
  margin: 0 auto;
  color: black;
}

article {
  border-bottom: 1px solid #d2d2d2;
}

.hide {
  display: none;
}

.menu-item-photo {
  padding: 0 2rem 0 0;
}

.menu-item-pizza,
.menu-item-burger,
.menu-item-beer {
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
  margin: 0 2rem;
}

.menu-item-title {
  font-size: 1.75rem;
}

.menu-item-ingredients {
  font-size: 1rem;
  color: #d2d2d2;
  margin: 0;
  padding: 0 0 1em 0;
}

.menu-item-price {
  font-size: 1.25rem;
}

.add-item {
  border: 2px solid hsl(160, 80%, 47%);
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: hsl(160, 80%, 47%);
  margin-left: auto;
}

.add-item:hover,
.add-item:focus,
.add-item:active {
  background-color: hsl(160, 80%, 47%);
  color: white;
  cursor: pointer;
}

.add-item:active {
  color: white;
}

.cart {
  text-align: center;
  margin: 0 2rem;
  font-size: 1.75rem;
  margin-top: 3rem;
}

.cart-title,
.cart-item,
.cart-item-number,
.total-price-title,
.submit-order {
  font-size: inherit;
}

.cart-item-pizza,
.cart-item-burger,
.cart-item-beer {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.cart-title {
  margin: 3rem 0 2rem 0;
  padding: 0;
}

.cart-item-total {
  margin-left: auto;
  margin-right: 1rem;
}

.fa-circle-minus {
  font-size: 1rem;
  color: hsl(0, 60%, 70%);
  border: 2px solid transparent;
  padding: 0.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.fa-circle-minus:hover {
  border: 2px solid hsl(0, 60%, 70%);
}

.total-price {
  border-top: 2px solid black;
  text-align: left;
  margin-top: 2rem;
}

.total-price-title {
  padding: 0;
  margin: 1rem 0 3rem 0;
}

.submit-order {
  width: 100%;
  background-color: hsl(160, 80%, 47%);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 1rem 0;
  border-radius: 0.25rem;
}

.submit-order:hover {
  cursor: pointer;
  background-color: hsl(160, 80%, 65%);
}
